In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import aryaman.scripts.utils.category_utils as cu
from aryaman.scripts.category.category  import category
from aryaman.scripts.global_vars import *

In [3]:
root = cu.load_tree_obj()

In [4]:
# x = pd.read_csv(get_path_to_identified_categories_UK(),names=['name'])
# x

                               name
0               Wearable Technology
1                       Light Bulbs
2    Heating, Cooling & Air Quality
3         Lab & Scientific Products
4                          Hardware
..                              ...
79           Coffee, Tea & Espresso
80                  Digital Cameras
81                     Film Cameras
82  Binoculars, Telescopes & Optics
83       GPS, Finders & Accessories

[84 rows x 1 columns]

In [5]:
y = x['name'].apply(cu.map_name_to_id)

In [6]:
type(y)

pandas.core.series.Series

In [7]:
y

0     [11151]
1     [22947]
2     [14072]
3     [15611]
4     [22943]
       ...
79    [14795]
80    [11161]
81    [11251]
82    [11155]
83    [11140]
Name: name, Length: 84, dtype: object

In [11]:
for val in y:
    if len(val) > 1:
        print(val)
        print(cu.getMainAndSubCategoriesListings(root,category_id = val[0]))
        print(cu.getMainAndSubCategoriesListings(root,category_id = val[1]))

y = pd.concat([y,pd.Series([[20],[19134]])])

[3808, 20]
  main_category     sub_category_1
0         Books  Sports & Outdoors
       main_category
0  Sports & Outdoors
[5308, 19134]
  main_category          sub_category_1   sub_category_2
0         Books  Cookbooks, Food & Wine  Outdoor Cooking
          main_category   sub_category_1
0  Patio, Lawn & Garden  Outdoor Cooking

In [9]:
y.reset_index(inplace=True,drop=True)

In [10]:
y = y.apply(lambda x : x[0])

In [11]:
y

0     11151
1     22947
2     14072
3     15611
4     22943
      ...
81    11251
82    11155
83    11140
84       20
85    19134
Length: 86, dtype: int64

In [12]:
depths = y.apply(lambda x:cu.findDepth(root,x))

In [13]:
df = pd.DataFrame({'id':y,'depth':depths})

In [14]:
flagged_Ids = df[df['depth'].isin([5,6])]
flagged_Ids

       id  depth
7    3945      5
10  21071      5
11  21033      6
17  11416      5
28  21023      5
34  11405      5
35  11409      5
37  19056      5
51  11407      5
52  11422      5
66  21068      5
67  21067      5
68  21035      6
76  11406      5
77  11421      5

In [15]:
empty_df = pd.DataFrame()
for num in flagged_Ids['id']:
    empty_df = pd.concat([empty_df,cu.getMainAndSubCategoriesListings(root,category_id=num)])

In [16]:
empty_df

,main_category,sub_category_1,sub_category_2,sub_category_3,sub_category_4,sub_category_5
0,Books,Arts & Photography,Music,Musical Instruments,String Instruments,NaN
0,Sports & Outdoors,Outdoor Recreation,Winter Sports Equipment,Snowboarding Equipment,Snowboards,NaN
0,Sports & Outdoors,Outdoor Recreation,Winter Sports Equipment,Snow Skiing Equipment,Downhill Ski Equipment,Downhill Ski Boots
0,Electronics,Computers & Accessories,Computer Components,Computer Internal Components,Computer Memory,NaN
0,Sports & Outdoors,Outdoor Recreation,Winter Sports Equipment,Snow Skiing Equipment,Ski Clothing,NaN
0,Electronics,Computers & Accessories,Computer Components,Computer External Components,Computer Cases,NaN
0,Electronics,Computers & Accessories,Computer Components,Computer External Components,KVM Switches,NaN
0,Office Products,Office Electronics Products,Printers & Accessories,Computer Printers,Photo Printers,NaN
0,Electronics,Computers & Accessories,Computer Components,Computer External Components,External Sound Cards,NaN
0,Electronics,Computers & Accessories,Computer Components,Computer Internal Components,Internal TV Tuner & Video Capture Cards,NaN
0,Sports & Outdoors,Outdoor Recreation,Winter Sports Equipment,Snowboarding Equipment,Snowboard Boots,NaN
0,Sports & Outdoors,Outdoor Recreation,Winter Sports Equipment,Snowboarding Equipment,Snowboard Bindings,NaN
0,Sports & Outdoors,Outdoor Recreation,Winter Sports Equipment,Snow Skiing Equipment,Downhill Ski Equipment,Downhill Skis
0,Electronics,Computers & Accessories,Computer Components,Computer External Components,External Optical Drives,NaN
0,Electronics,Computers & Accessories,Computer Components,Computer Internal Components,Internal Optical Drives,NaN

In [17]:
depths[depths.isin([5,6])]

7     5
10    5
11    6
17    5
28    5
34    5
35    5
37    5
51    5
52    5
66    5
67    5
68    6
76    5
77    5
dtype: int64

In [18]:
df[df['depth']==1]

    id  depth
12  19      1
84  20      1

In [19]:
cu.map_id_to_name(19)

'Pet Supplies'

In [20]:
cu.map_id_to_name(20)

'Sports & Outdoors'

In [21]:
final_df = pd.DataFrame()
for num in df['id']:
    final_df = pd.concat([final_df,cu.getMainAndSubCategoriesListings(root,category_id=num)])

In [22]:
final_df['main_category'].unique().shape

(11,)

11 main categories

In [23]:
final_df['sub_category_1'].unique().shape

(41,)

41 sub cat 1

In [24]:
result = final_df.groupby('main_category')

In [25]:
for cat,cat_df in result:
    print(cat)
    print(cat_df['sub_category_1'].nunique())
    print()

Books
4

Electronics
6

Home & Kitchen
5

Industrial & Scientific
8

Musical Instruments
2

Office Products
1

Patio, Lawn & Garden
3

Pet Supplies
0

Sports & Outdoors
2

Tools & Home Improvement
5

Toys & Games
4

In [26]:
final_df

,main_category,sub_category_1,sub_category_2,sub_category_3,sub_category_4,sub_category_5
0,Electronics,Wearable Technology,NaN,NaN,NaN,NaN
0,Tools & Home Improvement,Light Bulbs,NaN,NaN,NaN,NaN
0,Home & Kitchen,"Heating, Cooling & Air Quality",NaN,NaN,NaN,NaN
0,Industrial & Scientific,Lab & Scientific Products,NaN,NaN,NaN,NaN
0,Tools & Home Improvement,Hardware,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
0,Electronics,Camera & Photo,Film Photography,Film Cameras,NaN,NaN
0,Electronics,Camera & Photo,"Binoculars, Telescopes & Optics",NaN,NaN,NaN
0,Electronics,"GPS, Finders & Accessories",NaN,NaN,NaN,NaN
0,Sports & Outdoors,NaN,NaN,NaN,NaN,NaN
0,"Patio, Lawn & Garden",Outdoor Cooking,NaN,NaN,NaN,NaN

In [27]:
arr = []
for val in y:
    arr.append([val,cu.findParent(root,category_id=val)[0].category_id,cu.map_id_to_name(val)])

In [28]:
hu = pd.DataFrame(arr)

In [29]:
children = hu[0].tolist()
parent = []
while(True):
    for val in children:
        x = cu.findParent(root,category_id=val)
        if x != None:
            if x[0].category_id not in children and x[0].category_id not in parent:
                parent.append(x[0].category_id)

    print(parent)
    if len(parent) == 0:
        break
    else:
        children = children + parent
        parent.clear()

children

[10, 21, 13, 14, 11306, 6, 3894, 17978, 21001, 21021, 0, 19133, 14071, 5947, 22, 11400, 15597, 14078, 20999, 14073, 14069, 11399, 18600, 11137, 16, 3787, 22955, 18, 21110, 8170, 8165, 11167, 11135, 20406, 11162]
[3823, 3791, 11307, 17, 20343, 20342]
[3779]
[]

[11151,
 22947,
 14072,
 15611,
 22943,
 11332,
 3808,
 3945,
 18113,
 19039,
 21071,
 21033,
 19,
 19188,
 14283,
 6072,
 24170,
 11416,
 15680,
 15596,
 15617,
 15599,
 15612,
 15614,
 14798,
 11138,
 22946,
 11316,
 21023,
 14491,
 14278,
 14154,
 14144,
 24167,
 11405,
 11409,
 19013,
 19056,
 22941,
 22953,
 11314,
 11313,
 11815,
 17977,
 5308,
 22963,
 19142,
 14279,
 14273,
 24164,
 24174,
 11407,
 11422,
 19014,
 21814,
 8227,
 8193,
 21817,
 15605,
 14794,
 11292,
 11157,
 11143,
 11333,
 11317,
 11326,
 21068,
 21067,
 21035,
 21000,
 14484,
 14480,
 14474,
 14485,
 14489,
 14274,
 11406,
 11421,
 11312,
 14795,
 11161,
 11251,
 11155,
 11140,
 20,
 19134,
 10,
 21,
 13,
 14,
 11306,
 6,
 3894,
 17978,
 21001,
 21021,
 0,
 19133,
 14071,
 5947,
 22,
 11400,
 15597,
 14078,
 20999,
 14073,
 14069,
 11399,
 18600,
 11137,
 16,
 3787,
 22955,
 18,
 21110,
 8170,
 8165,
 11167,
 11135,
 20406,
 11162,
 3823,
 3791,
 11307,
 17,
 20343,
 20342,
 3779]

In [30]:
pd.Series(children).unique().shape

(128,)

In [37]:
parent_arr = []
for e in children:
    f = cu.findParent(root,category_id=e)
    if f!=None:
        parent_arr.append(f[0].category_id)
    else:
        parent_arr.append(None)

In [38]:
len(parent_arr)

128

In [39]:
cat_names = []
for e in children:
    cat_names.append(cu.map_id_to_name(category_id=e))

In [41]:
len(cat_names)

128

In [42]:
the_main_meal = pd.DataFrame({'ID':children,'Parent':parent_arr,'label':cat_names})

In [47]:
the_main_meal['Parent'] = the_main_meal['Parent'].astype(pd.Int32Dtype())

In [48]:
the_main_meal[the_main_meal['label']=='root']

    ID  Parent label
96   0    <NA>  root

In [50]:
# the_main_meal.reset_index(drop=True,inplace=True)
# the_main_meal.to_csv(get_path_to_draw_io_UK_csv(),index=False)