In [6]:
import pandas as pd
import numpy as np
import csv
import ast

In [17]:
scraped_details_df = pd.read_csv('aryaman/csv/scraping/scraping_details.csv',encoding='utf-8')

In [18]:
scraped_details_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6629 entries, 0 to 6628
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ASIN             6629 non-null   object
 1   Images           6629 non-null   object
 2   title            6629 non-null   object
 3   productOverview  3774 non-null   object
 4   featureBullets   3967 non-null   object
 5   stars            6356 non-null   float64
 6   ratings          6356 non-null   float64
 7   listPrice        6288 non-null   float64
 8   salePrice        6629 non-null   float64
dtypes: float64(4), object(5)
memory usage: 466.2+ KB

In [19]:
scraped_details_df['Images'] = scraped_details_df['Images'].apply(lambda item: ast.literal_eval(item) if pd.notna(item) else item)
scraped_details_df['productOverview'] = scraped_details_df['productOverview'].apply(lambda item: ast.literal_eval(item) if pd.notna(item) else item)
scraped_details_df['featureBullets'] = scraped_details_df['featureBullets'].apply(lambda item: ast.literal_eval(item) if pd.notna(item) else item)

In [56]:
def checkTypes(column,type):
    for x in column:
            if not isinstance(x,type):
                print("error in ", column.name)

checkTypes(scraped_details_df['Images'].dropna(),list)
checkTypes(scraped_details_df['featureBullets'].dropna(),list)
checkTypes(scraped_details_df['productOverview'].dropna(),dict)

In [57]:
scraped_details_df.isnull().sum()

ASIN                  0
Images                0
title                 0
productOverview    2855
featureBullets     2662
stars               273
ratings             273
listPrice           341
salePrice             0
dtype: int64

In [58]:
missing_details_df = pd.read_csv("aryaman/csv/scraping/MissingDetailsChart.csv")

In [59]:
missing_details_df

            ASIN  star_rating  ratings  featureBullets  Overview listPrice
0     B07MLLXYKV        False    False            True      True       NaN
1     B08HHRBVVP        False    False            True      True       NaN
2     B08HWZK311        False    False            True      True       NaN
3     B0DGTN6JWB        False    False            True      True       NaN
4     B08Q2V393N        False    False            True      True       NaN
...          ...          ...      ...             ...       ...       ...
3208  B0BV8415Y2        False    False           False      True       NaN
3209  B0CR3QBLBN         True     True           False     False       NaN
3210  B0BLCF99G3        False    False           False      True       NaN
3211  B0B9NRXTRY        False    False           False      True       NaN
3212  B08Y6Z1TCH         True     True           False     False       NaN

[3213 rows x 6 columns]

In [60]:
missing_details_df.drop(columns=['listPrice'],inplace=True)

In [62]:
missing_details_df.to_csv("aryaman/csv/scraping/MissingDetailsChart.csv",index=False)