In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import aryaman.scripts.utils.category_utils as cu
from aryaman.scripts.category.category  import category
from aryaman.scripts.global_vars import *

### Analyzing amazon categories and sub-categories

In [3]:
# df_cat = pd.read_csv("../Dataset/AmazonCategories.csv",sep=';') # file path

In [4]:
# df_cat.columns

Index(['Main Category', 'Subcategory 1', 'Subcategory 2', 'Subcategory 3',
       'Subcategory 4', 'Subcategory 5', 'Subcategory 6', 'Subcategory 7',
       'Subcategory 8'],
      dtype='object')

In [5]:
# root = cu.create_categories_hierarchy(df=df_cat,lastColumnIntIndex=8,starting_category_id=1,no_of_sub_levels=get_no_of_sublevels())

In [8]:
# pd.DataFrame(root.navigateTillDepth(10))

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,root,0,0,root,0,root,None,None,None,None,...,0,None,None,None,None,None,None,None,None,None
1,Appliances,1,1,Appliances←root,1←0,root,Appliances,None,None,None,...,0,1,None,None,None,None,None,None,None,None
2,Dishwashers,24,2,Dishwashers←Appliances←root,24←1←0,root,Appliances,Dishwashers,None,None,...,0,1,24,None,None,None,None,None,None,None
3,Built-In Dishwashers,29,3,Built-In Dishwashers←Dishwashers←Appliances←root,29←24←1←0,root,Appliances,Dishwashers,Built-In Dishwashers,None,...,0,1,24,29,None,None,None,None,None,None
4,Countertop Dishwashers,30,3,Countertop Dishwashers←Dishwashers←Appliances←...,30←24←1←0,root,Appliances,Dishwashers,Countertop Dishwashers,None,...,0,1,24,30,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25219,Xbox Series X & S Protectors,25221,5,Xbox Series X & S Protectors←Xbox Series X & S...,25221←25217←25210←24781←23←0,root,Video Games,"Xbox Series X & S Consoles, Games & Accessories",Xbox Series X & S Accessories,"Xbox Series X & S Faceplates, Protectors & Skins",...,0,23,24781,25210,25217,25221,None,None,None,None
25220,Xbox Series X & S Skin & Protector Sets,25222,5,Xbox Series X & S Skin & Protector Sets←Xbox S...,25222←25217←25210←24781←23←0,root,Video Games,"Xbox Series X & S Consoles, Games & Accessories",Xbox Series X & S Accessories,"Xbox Series X & S Faceplates, Protectors & Skins",...,0,23,24781,25210,25217,25222,None,None,None,None
25221,Xbox Series X & S Skins,25223,5,Xbox Series X & S Skins←Xbox Series X & S Face...,25223←25217←25210←24781←23←0,root,Video Games,"Xbox Series X & S Consoles, Games & Accessories",Xbox Series X & S Accessories,"Xbox Series X & S Faceplates, Protectors & Skins",...,0,23,24781,25210,25217,25223,None,None,None,None
25222,Xbox Series X & S Consoles,25211,3,Xbox Series X & S Consoles←Xbox Series X & S C...,25211←24781←23←0,root,Video Games,"Xbox Series X & S Consoles, Games & Accessories",Xbox Series X & S Consoles,None,...,0,23,24781,25211,None,None,None,None,None,None
25223,Xbox Series X & S Games,25212,3,Xbox Series X & S Games←Xbox Series X & S Cons...,25212←24781←23←0,root,Video Games,"Xbox Series X & S Consoles, Games & Accessories",Xbox Series X & S Games,None,...,0,23,24781,25212,None,None,None,None,None,None

In [12]:
# pd.DataFrame(root.searchByCategoryName(category_name='Sports & Outdoors'))

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,Sports & Outdoors,3808,2,Sports & Outdoors←Books←root,3808←6←0,root,Books,Sports & Outdoors,None,None,...,0,6,3808,None,None,None,None,None,None,None
1,Sports & Outdoors,20,1,Sports & Outdoors←root,20←0,root,Sports & Outdoors,None,None,None,...,0,20,None,None,None,None,None,None,None,None

In [17]:
# cu.write_category_name_id_to_csv(category_tree_root=root)

In [13]:
# with open(get_path_to_categories_tree_pkl(),'wb') as file:
#     pickle.dump(root,file)

**these names of all categories are already stripped meaning no trainling and beginning whitespaces**