In [128]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import aryaman.scripts.utils.category_utils as cu
from aryaman.scripts.category.category  import category
from aryaman.scripts.global_vars import *
from IPython.display import clear_output

In [2]:
df_uk = pd.read_csv(get_path_to_amazon_uk_dataset()) # file path

In [3]:
df_uk.columns

Index(['asin', 'title', 'imgUrl', 'productURL', 'stars', 'reviews', 'price',
       'isBestSeller', 'boughtInLastMonth', 'categoryName'],
      dtype='object')

In [32]:
# category_names_ = pd.read_csv(get_path_to_all_identified_products_UK(),header=None)

In [33]:
# category_names_

                                  0
0               Wearable Technology
1                       Light Bulbs
2    Heating, Cooling & Air Quality
3         Lab & Scientific Products
4                          Hardware
..                              ...
79           Coffee, Tea & Espresso
80                  Digital Cameras
81                     Film Cameras
82  Binoculars, Telescopes & Optics
83       GPS, Finders & Accessories

[84 rows x 1 columns]

In [49]:
df2  = df_uk[df_uk['categoryName'].isin(category_names_[0])]
df2.reset_index(drop=True,inplace=True)
# df2.to_csv(get_path_to_all_identified_products_UK(),index=False)

In [58]:
grouped = df2.groupby('categoryName')
sampled_dfs = []
for category,group in grouped:
    x = group.sample(n=min(100,len(group)),random_state=42)
    y = cu.map_name_to_id(category_name=category)
    if len(y) > 1:
        if category == 'Outdoor Cooking':
            y = 19134
        else:
            y = 20
    else:
        y = y[0]
    x['categoryId'] = y
    sampled_dfs.append(x)
final_df = pd.concat(sampled_dfs,ignore_index=True)

In [85]:
root = cu.load_tree_obj()

In [104]:
grouped_final_df = final_df.groupby('categoryName')

In [105]:
len(grouped_final_df)

84

In [107]:
pd.set_option('display.max_colwidth', None)
count = 1
grouped_final_df = list(final_df.groupby('categoryName'))
i = 0
while(i < len(grouped_final_df)):
    category,group = grouped_final_df[i]
    clear_output(wait=True)
    print('Analyzing category No. ',i+1,end='\n\n')
    print(cu.findPath(category_root= root,category_id = group['categoryId'].iloc[0],returnStringPath=True),end='\n\n')
    print(group['title'].head(4))
    x = int(input("Press any 1 to continue , 2 to go back"))
    if x == 1:
        i = i+1
    else:
        i = i-1

Analyzing category No.  84

eBook Readers & Accessories←Electronics←root

8273    Meebook E-Reader P78 Pro | 7.8” Eink Carta Screen 300PPI | Support Hand Writing | Built-in Adjustable Colour Temperature Light| Android 11 | Ouad Core | Support Google Play Store | 3GB+32GB | Grey
8274                                               Kindle (2022 release) | The lightest and most compact Kindle, now with a 6", 300 ppi high-resolution display and double the storage | Without ads | Denim
8275                            FOREFRONT CASES Cover for Kindle Oasis 2019 | Magnetic Protective Case & Stand for All-new Kindle Oasis (10th Generation 2019 Release) | Elegant Slim Lightweight | Sky Blue
8276    Ebook Reader Covers - Kindle Paperwhite 4 Case With Hand Strap (10Th Gen)2018 Fabric Smart Cover For Pq94Wif With Auto Sleep Wake, Slimshell Anti Drop Case, E Reader Accessory,Black,(10Th Gen)2018
Name: title, dtype: object

In [117]:
final_df.shape

(8373, 11)

In [119]:
final_df.reset_index(drop=True,inplace=True)
# final_df.to_csv(get_path_to_prepared_sample_on_datasetUK(),index=False)